<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="#" th:action="@{/search}" th:object="${flightSearch}" method="POST">
    <p>To: <input type="text" th:field="*{toLocation}"/> From: <input type="text" th:field="*{fromLocation}"/></p>
    <input type="submit" value="Submit"/>
</form>
<br/>
<table th:if="${flightSearchValues != null }" border="1">
    <thead>
    <th>Flight Number</th>
    <th>Source</th>
    <th>Destination</th>
    </thead>
    <tbody>
    <tr th:each="flight: ${flights}">
        <td th:text="${flight.flightNumber}"></td>
        <td th:text="${flight.toLocation}"></td>
        <td th:text="${flight.fromLocation}"></td>
    </tr>
    </tbody>
    <tr></tr>
</table>
</body>
</html>